// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here

// Colours

$navy: #193e72;
$coral: #ea5c4e;
$grey: #acbdc4;
// $orange: #f3932f;
// $yellow: #fdd47a;
// $acqua: #2ea9b0;
// $green: #46a86d;
// $purple: #6666ac;

// $nihr-colors: (
//   'navy-base': $navy,
//   'coral-base': $coral,
//   'orange-base': $orange,
//   'yellow-base': $yellow,
//   'acqua-base': $acqua,
//   'green-base': $green,
//   'purple-base': $purple
// );

$grey-5: #fcfcfd;
$grey-10: #f6f7f8;
$grey-20: #f0f1f5;
$grey-40: #dfe4e7;
$grey-60: #ced5db;
$grey-80: #bfcad0;
$grey-100: $grey;

$navy-40: #a3a4c2;
$navy-60: #747ca3;
$navy-80: #475989;
$navy-100: $navy;
$navy-120: #11294b;
$navy-140: #050b15;

$coral-40: #f8c5b4;
$coral-60: #f3a591;
$coral-80: #ef826e;
$coral-100: $coral;
$coral-120: #e64132;
$coral-140: #b62316;

$greys: (
  'grey-5': $grey-5,
  'grey-10': $grey-10,
  'grey-20': $grey-20,
  'grey-40': $grey-40,
  'grey-60': $grey-60,
  'grey-80': $grey-80,
  'grey-100': $grey-100
) !default;

$navys: (
  'navy-40': $navy-40,
  'navy-60': $navy-60,
  'navy-80': $navy-80,
  'navy-100': $navy-100,
  'navy-120': $navy-120,
  'navy-140': $navy-140
) !default;

$corals: (
  'coral-40': $coral-40,
  'coral-60': $coral-60,
  'coral-80': $coral-80,
  'coral-100': $coral-100,
  'coral-120': $coral-120,
  'coral-140': $coral-140
) !default;

$primary: $navy-100;
$secondary: $navy-120;
$danger: $coral-100;

// Typography

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$lead-font-size: $font-size-base * 1.375;

// Inputs

$input-border-radius-lg: 37px;

// Buttons

$btn-padding-y: 12px;
$btn-padding-x: 20px;
$btn-font-size: 19px;
$btn-line-height: 22px;

$btn-padding-y-sm: 8px;
$btn-padding-x-sm: 16px;
$btn-font-size-sm: 16px;

$btn-padding-y-lg: 12px;
$btn-padding-x-lg: 24px;
$btn-font-size-lg: 22px;

$btn-border-radius: 30px;
$btn-border-radius-sm: 30px;
$btn-border-radius-lg: 30px;

$btn-link-disabled-color: red;

// 3. Include remainder of required Bootstrap stylesheets
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/utilities';

$all-colors: map-merge-multiple($corals, $navys, $greys);

$utilities: map-merge(
  $utilities,
  (
    'color':
      map-merge(
        map-get($utilities, 'color'),
        (
          values:
            map-merge(
              map-get(map-get($utilities, 'color'), 'values'),
              ($all-colors)
            )
        )
      ),
    'background-color':
      map-merge(
        map-get($utilities, 'background-color'),
        (
          values:
            map-merge(
              map-get(map-get($utilities, 'background-color'), 'values'),
              ($all-colors)
            )
        )
      )
  )
);

// 4. Include any optional Bootstrap CSS as needed
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/tables';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/transitions';
@import '../node_modules/bootstrap/scss/dropdown';
@import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/accordion';
@import '../node_modules/bootstrap/scss/breadcrumb';
@import '../node_modules/bootstrap/scss/pagination';
@import '../node_modules/bootstrap/scss/badge';
@import '../node_modules/bootstrap/scss/alert';
@import '../node_modules/bootstrap/scss/progress';
@import '../node_modules/bootstrap/scss/list-group';
@import '../node_modules/bootstrap/scss/close';
@import '../node_modules/bootstrap/scss/toasts';
@import '../node_modules/bootstrap/scss/modal';
@import '../node_modules/bootstrap/scss/tooltip';
@import '../node_modules/bootstrap/scss/popover';
@import '../node_modules/bootstrap/scss/carousel';
@import '../node_modules/bootstrap/scss/spinners';
@import '../node_modules/bootstrap/scss/offcanvas';
@import '../node_modules/bootstrap/scss/placeholders';
@import '../node_modules/bootstrap/scss/helpers';

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../node_modules/bootstrap/scss/utilities/api';

// Then add additional custom code here

// import google font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  // padding-top: 3rem;
  // padding-bottom: 3rem;
  color: #5a5a5a;
  font-family: 'Lato', sans-serif;
}

// Buttons

.btn {
  letter-spacing: 1px;
  i {
    font-size: 12px;
  }
}

.btn-lg i {
  font-size: 16px;
}

.btn-primary {
  color: rgb(250, 250, 250);
  i {
    color: rgb(250, 250, 250);
  }
  &.destructive {
    background-color: $coral-100;
    border-color: $coral-100;
    color: $navy-140;
    i {
      color: $navy-140;
      transition: color 0.15s ease-in-out;
    }
    &:hover {
      color: rgb(250, 250, 250);
      border-color: $navy-120;
      i {
        transition: color 0.15s ease-in-out;
        color: rgb(250, 250, 250);
      }
    }
  }
  &:hover {
    background-color: $navy-120;
  }
}

.btn-secondary {
  color: $navy-100;
  background-color: #fff;
}

.btn:disabled {
  background-color: $grey-40;
  border-color: $navy-80;
  color: $navy-80;

  i {
    color: $navy-80;
  }
}

// Site blocks

.search-component-wrapper {
  .input-group {
    position: relative;
    .form-control {
      padding-right: 80px;
      padding-left: 32px;
      font-size: 1rem;
      border: none;
      border-radius: 37px !important;
      ::placeholder {
        color: red !important;
      }
    }

    .btn {
      margin-left: -57px !important;
      position: relative;
      z-index: 999;
      padding: 0.5rem 1rem;
      // top: 0;
      // bottom: 0;
      // left: auto;
      // right: 0;
      background-color: transparent;
      border: none;
      &:focus {
        box-shadow: none;
        border: none;
      }

      i {
        color: rgba(0, 0, 0, 0.4);
        font-size: 24px;
      }
      &::before {
        position: absolute;
        content: '';
        width: 1px;
        left: 0;
        top: 8px;
        bottom: 8px;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
    &.input-group-lg {
      .form-control {
        padding-top: 18px;
        padding-bottom: 18px;
      }
      .btn {
        i {
          font-size: 24px;
        }
      }
    }
  }
}
